<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Please provide a channel in the URL ex: /channel/monstercat</p>
<img src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png" />